ion-spinner {
    display: block;
    margin: auto;
}

ion-card {
    background: rgb(255, 255, 255);
    border-radius: 0
}

.collection-list-item{
    --ion-item-background:#ffffff;
}

.results-not-found {
    text-align: center;
}

.searchbar-input {
    border-radius: 30px !important;
    box-shadow: none !important;
    --background: #efefef;
}

.header-md::after {
    display: none;
}